/* navbar */
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .logo{
    margin-right: 40vw;
  }
}
@media only screen and (min-width: 1241px) and (max-width: 1360px) {
  .logo{
    margin-right: 50vw;
  }
}
@media only screen and (min-width: 1361px)  {
  .logo{
    margin-right: 55vw;
  }
}
.logo-letter {
  color: #89CE94;
  font-weight: bolder;
  font-size: 40px
}
/* navbar */




/* Create a post */
.row{
  height: 50px;
}
#textarea{
  height: 280px;
}
/* Create a post */



/* show Post */

.post h5 .username{
  color: #89CE94;
}

/* show Post */



/* Home page */


.IT{
  color: #89CE94;
  font-size: 60px;
}
.shadows{
  text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
/* SVG */
.svg{
  width: 900px;
  margin-top: 10vh;


}
svg #Layer_6{
  animation-duration: 1.4s;
  animation-name: animateSvg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
svg #Layer_5{
  animation-duration: 1.4s;
  animation-name: animateSvg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateSvg {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0px) translateY(-30px);
  }
}
svg #Layer_5{
  animation-duration: 1.4s;
  animation-name: animateSvg1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateSvg1 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0) translateY(-10px);
  }
}
svg #Screen {
  animation-duration: 1.4s;
  animation-name: animateScreen;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateScreen {
  from {
    transform: translateX(0) translateY(0);
    opacity: 1;

  }
  to {
    transform: translateX(25px) translateY(0);
    opacity: 0.5;
  }
  to {
    transform: translateX(40px) translateY(0);
    opacity: 0;
  }
}


/* SVG */
/* Home page */

