/* navbar */
@media only screen and (min-width: 992px) and (max-width: 1240px) {
  .logo{
    margin-right: 40vw;
  }
}
@media only screen and (min-width: 1241px) and (max-width: 1360px) {
  .logo{
    margin-right: 50vw;
  }
}
@media only screen and (min-width: 1361px)  {
  .logo{
    margin-right: 55vw;
  }
}
.logo-letter {
  color: #89CE94;
  font-weight: bolder;
  font-size: 40px
}
/* navbar */




/* Create a post */
.row{
  height: 50px;
}
#textarea{
  height: 280px;
}
/* Create a post */



/* show Post */

.post h5 .username{
  color: #89CE94;
}

/* show Post */



/* Home page */


.IT{
  color: #89CE94;
  font-size: 60px;
}
.shadows{
  text-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
/* SVG */
svg{
  width: 400px;
  margin-top: 10vh;


}
svg #Layer_6{
  animation-duration: 1.4s;
  animation-name: animateSvg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
svg #Layer_5{
  animation-duration: 1.4s;
  animation-name: animateSvg;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateSvg {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0px) translateY(-30px);
  }
}
svg #Layer_5{
  animation-duration: 1.4s;
  animation-name: animateSvg1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateSvg1 {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(0) translateY(-10px);
  }
}
svg #Screen {
  animation-duration: 1.4s;
  animation-name: animateScreen;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animateScreen {
  from {
    transform: translateX(0) translateY(0);
    opacity: 1;

  }
  to {
    transform: translateX(25px) translateY(0);
    opacity: 0.5;
  }
  to {
    transform: translateX(40px) translateY(0);
    opacity: 0;
  }
}


      .cls-1 {
        fill: none;
      }

      .cls-2 {
        opacity: 0.67;
      }

      .cls-3 {
        fill: #a3a3a3;
      }

      .cls-4 {
        isolation: isolate;
      }

      .cls-5 {
        clip-path: url(#clip-path);
      }

      .cls-6 {
        clip-path: url(#clip-path-2);
      }

      .cls-7 {
        clip-path: url(#clip-path-3);
      }

      .cls-8 {
        fill: #689d70;
      }

      .cls-9 {
        fill: #6ba173;
      }

      .cls-10 {
        fill: #65986e;
      }

      .cls-11 {
        fill: #63946b;
      }

      .cls-12 {
        fill: #609068;
      }

      .cls-13 {
        fill: #5d8c65;
      }

      .cls-14 {
        fill: #5a8862;
      }

      .cls-15 {
        fill: #58845f;
      }

      .cls-16 {
        fill: #55805c;
      }

      .cls-17 {
        fill: #527c59;
      }

      .cls-18 {
        fill: #4f7756;
      }

      .cls-19 {
        fill: #4d7353;
      }

      .cls-20 {
        fill: #4a6f50;
      }

      .cls-21 {
        fill: #476b4d;
      }

      .cls-22 {
        fill: #4e7655;
      }

      .cls-23 {
        fill: #73ad7c;
      }

      .cls-24 {
        clip-path: url(#clip-path-4);
      }

      .cls-25 {
        clip-path: url(#clip-path-5);
      }

      .cls-26 {
        fill: #858585;
      }

      .cls-27 {
        clip-path: url(#clip-path-6);
      }

      .cls-28 {
        clip-path: url(#clip-path-7);
      }

      .cls-29 {
        clip-path: url(#clip-path-8);
      }

      .cls-30 {
        clip-path: url(#clip-path-9);
      }

      .cls-31 {
        fill: #6ea577;
      }

      .cls-32 {
        fill: #ccc;
      }

      .cls-33 {
        clip-path: url(#clip-path-10);
      }

      .cls-34 {
        clip-path: url(#clip-path-11);
      }

      .cls-35 {
        clip-path: url(#clip-path-12);
      }

      .cls-36 {
        clip-path: url(#clip-path-13);
      }

      .cls-37 {
        clip-path: url(#clip-path-14);
      }

      .cls-38 {
        clip-path: url(#clip-path-15);
      }

      .cls-39 {
        clip-path: url(#clip-path-16);
      }

      .cls-40 {
        clip-path: url(#clip-path-17);
      }

      .cls-41 {
        clip-path: url(#clip-path-18);
      }

      .cls-42 {
        clip-path: url(#clip-path-19);
      }

      .cls-43 {
        clip-path: url(#clip-path-20);
      }

      .cls-44 {
        clip-path: url(#clip-path-21);
      }

      .cls-45 {
        clip-path: url(#clip-path-22);
      }

      .cls-46 {
        clip-path: url(#clip-path-23);
      }

      .cls-47 {
        clip-path: url(#clip-path-24);
      }

      .cls-48 {
        clip-path: url(#clip-path-25);
      }

      .cls-49 {
        clip-path: url(#clip-path-26);
      }

      .cls-50 {
        clip-path: url(#clip-path-27);
      }

      .cls-51 {
        clip-path: url(#clip-path-28);
      }

      .cls-52 {
        clip-path: url(#clip-path-29);
      }

      .cls-53 {
        clip-path: url(#clip-path-30);
      }

      .cls-54 {
        clip-path: url(#clip-path-31);
      }

      .cls-55 {
        clip-path: url(#clip-path-32);
      }

      .cls-56 {
        clip-path: url(#clip-path-33);
      }

      .cls-57 {
        fill: #949494;
      }

      .cls-58 {
        clip-path: url(#clip-path-34);
      }

      .cls-59 {
        clip-path: url(#clip-path-35);
      }

      .cls-60 {
        fill: #c2c2c2;
      }

      .cls-61 {
        fill: #bdbdbd;
      }

      .cls-62 {
        fill: #b8b8b8;
      }

      .cls-63 {
        fill: #b3b3b3;
      }

      .cls-64 {
        fill: #adadad;
      }

      .cls-65 {
        fill: #a8a8a8;
      }

      .cls-66 {
        fill: #9e9e9e;
      }

      .cls-67 {
        fill: #999;
      }

      .cls-68 {
        clip-path: url(#clip-path-36);
      }

      .cls-69 {
        fill: #0acc21;
      }

      .cls-70,
      .cls-77 {
        opacity: 0.78;
      }

      .cls-70 {
        fill: url(#linear-gradient);
      }

      .cls-71 {
        clip-path: url(#clip-path-37);
      }

      .cls-72 {
        clip-path: url(#clip-path-38);
      }

      .cls-73 {
        clip-path: url(#clip-path-39);
      }

      .cls-74 {
        clip-path: url(#clip-path-40);
      }

      .cls-75 {
        clip-path: url(#clip-path-41);
      }

      .cls-76 {
        clip-path: url(#clip-path-42);
      }

      .cls-77 {
        fill: url(#linear-gradient-2);
      }
   
/* SVG */
/* Home page */